<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>doLogin</servlet-name>
        <servlet-class>doJsp.doLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doLogout</servlet-name>
        <servlet-class>doJsp.doLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doCustomer</servlet-name>
        <servlet-class>doJsp.doCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doAddCustomer</servlet-name>
        <servlet-class>doJsp.doAddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doEditCustomer</servlet-name>
        <servlet-class>doJsp.doEditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doGetCustomer</servlet-name>
        <servlet-class>doJsp.doGetCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doLogin</servlet-name>
        <url-pattern>/doLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doLogout</servlet-name>
        <url-pattern>/doLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doCustomer</servlet-name>
        <url-pattern>/doCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doAddCustomer</servlet-name>
        <url-pattern>/doAddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doEditCustomer</servlet-name>
        <url-pattern>/doEditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doGetCustomer</servlet-name>
        <url-pattern>/doGetCustomer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
